.container{
    text-align: center;
    margin: auto;
    width: 70%;


}
.dice{
    display: inline-block;
    text-align: center;
    width: 40%;



}
body{
    background-color: yellow;

}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 8rem;
    margin: 30px;
    text-shadow: 3px 0 #687a91;
}
p{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

}
img{
    width: 50%;
}
footer {
    margin-top: 5%;

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  
  }
  